$sprite: '../img/sprites/sprite.svg#';


$blue:    #2D4255;
$yellow:  #FFD400;
$white:   #FFFFFF;
$dark:    #062945;
$grey:    #E6E7E8;

$font-family-base:    'Roboto Condensed' , sans-serif;
$body-bg:   $white;
$primary-color: $blue;
