mixin icon(value)
    svg(class= value.class)
        use(xlink:href=`./img/sprites/sprite.svg#${value.name}`)

//- path, name, imgType, sourceType, Imgclass
mixin picture(value)
    picture
        source(srcset= "./img/" + value.path + "/" + value.name + '.' + value.sourceType type="image/" + value.sourceType)
        img(class= value.ImgClass src= "./img/" + value.path + "/" + value.name + '.' + value.imgType alt=value.name)
